body {
  margin: 0;
  font-family: 'Source Code Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-fresh {
  background: $bg-secondary;
  background-image: url(../assets/images/background.png);
  background-size: cover;
  color: $font-secondary;
}

.bg-main {
  background: $bg-primary;
  color: $font-primary;
}

.has-error {
  color: $red;
}

.pull-left {
  text-align: left;
}
.pull-right {
  text-align: right;
}
.pull-center {
  text-align: center;
}

.mb-0 {
  margin-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.pt-0 {
  padding-top: 0;
}
