.button.button-primary,
button.button-primary,
input[type='submit'].button-primary,
input[type='reset'].button-primary,
input[type='button'].button-primary {
  background-color: $bg-btn;
  border-color: black;
}

button,
.button {
  border: none;
  margin-bottom: 0;
  border-radius: $border-radius;
  text-transform: capitalize;
}
