$font-primary: #333;
$font-secondary: #fff;
$bg-primary: #fefefe;
$bg-secondary: #444444;
$bg-btn: 	#141414;
$bg-btn-active: #871a1a;
$border-primary: #444444;
$status-active: green;
$status-inactive: orange;
$status-offline: red;