.input.input-primary, input[type="text"].input-primary {
  background-color: $bg-secondary;
  border-color: black;
  color: $font-secondary;
}

input[placeholder]::placeholder {
  font-style: italic;
}

input, .input {
  margin-bottom: 0;
}