@import 'spacing';

.hw-100 {
  @include height-width(100%);
}

.--inline-block {
  display: inline-block;
}

.--right-padding {
  padding-right: $padding-right;
}

// There is currently no way to suppress this through their API
.firebase-emulator-warning {
  display: none;
}
