@import 'styles/colors';

.App {
  display: grid;
  grid-template-rows: 90% 10%;
  height: 100vh;
  width: 100vw;
  grid-template-areas: 'body' 'nav';

  .body {
    overflow: auto;
    padding: 1rem;
    width: calc(100vw - 2rem);
    flex-grow: 1;
    grid-area: body;
  }

  .Navigation {
    grid-area: nav;
  }
}
