@import 'styles/colors';

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;

  .body {
    overflow: auto;
    height: 90vh;
    padding: 1rem;
    width: calc(100vw - 2rem);
  }

  .Navigation {
    height: 10vh;
  }
}
