.Friends {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Friends__search {
  flex: 1;
}

.Friends__friends-list {
  flex: 5;

  ul {
    list-style: none;
  }
}

.Friends__controls {
  position: absolute;
  bottom: 0;
  right: 0;
}