.Friends {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Friends__search {
  padding: 1rem;
  input {
    margin: 0;
  }
}

.Friends__friends-list {
  font-weight: bold;
  padding: 0 1rem;

  ul {
    list-style: none;
    li {
      margin-bottom: 0.8rem;
    }
  }
}

.Friends__controls {
  position: absolute;
  bottom: 0;
  right: 0;
}