@import 'styles/colors';

$border-size: 4px;

@mixin focused() {
  color: $font-primary;
  background: #fff;
  outline: none;
  border: none;
  border-radius: 10px;
  &::placeholder {
    color: rgba(0, 0, 0, 0.2);
  }
  & + .shadow {
    background: #000;
    border-radius: 10px;
    top: $border-size;
    border-bottom: none;
  }
  & + .shadow + .icon.oi {
    color: $font-primary;
  }
}

.InputText {
  position: relative;
  color: $turquoise;
  width: 100%;
  margin: auto;

  &.solid {
    > input {
      @include focused;
    }
  }

  > input {
    position: relative;
    z-index: 1;
    color: $turquoise;
    width: 100%;
    margin-right: 5px;
    background: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: $border-size solid $turquoise;
    border-radius: 0;
    transition: all 0.3s;
    &::placeholder {
      color: $turquoise;
      font-style: normal;
    }
    &:focus {
      @include focused;
    }
    &.has-icon {
      padding-left: 3rem;
    }
  }

  .shadow {
    position: absolute;
    border-bottom: $border-size solid #000;
    top: 0;
    left: $border-size;
    height: 100%;
    width: 100%;
    z-index: 0;
  }

  .icon {
    position: absolute;
    top: 7px;
    left: 10px;
    z-index: 100;
  }
}
