@import '@styles/main';

.InputText {
  position: relative;
  color: $turquoise;
  width: 100%;
  margin: auto;

  &.solid {
    > input {
      @include focused;
    }
    .shadow {
      @include focused-shadow;
    }
  }

  > input {
    position: relative;
    z-index: 1;
    color: $turquoise;
    width: 100%;
    margin-right: 5px;
    background: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: $border-size solid $turquoise;
    border-radius: 0;
    transition: all 0.3s;
    &::placeholder {
      color: $turquoise;
      font-style: normal;
    }
    &.has-icon {
      padding-left: 3rem;
    }
    &:focus {
      @include focused;

      & + .shadow {
        @include focused-shadow;
      }
    }
    &:not(&:focused) {
      & + .shadow {
        @include unfocused-shadow;
      }
    }
  }

  .icon {
    position: absolute;
    top: 7px;
    left: 10px;
    z-index: 100;
  }
}
