@import 'styles/colors';

.Login,
.SignUpComplete,
.SignUp {
  flex-grow: 1;
  flex-direction: column;
  height: 100vh;
  display: flex;
  align-items: center;
  width: 100%;
  .login__normal {
    margin-top: 3rem;
    flex-grow: 1;
  }
  .login__anonomous {
    margin-bottom: 3rem;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .form__inner {
      width: 100%;
      text-align: center;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;

      a {
        color: $red-light;
        display: block;
        text-align: left;
      }
    }

    .form-group {
      width: 100%;
      .Button {
        width: 100%;
      }
    }
  }

  .form__anon {
    .form__inner {
      border: none;
    }
  }
}
