@import 'styles/main';

.body {
  // necessary because the HangzoneMap is wrapper
  > div {
    @include height-width(100%);
    position: relative;
  }
}

.HangzoneMap {
  // position: relative;
  .search-input {
    position: fixed;
    z-index: 99;
    width: calc(100% - 2rem);
    top: 1rem;
    left: 1rem;
  }
}
