@import 'styles/colors';
@import 'styles/spacing';

.Modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
}

.Modal__container {
  background: white;
  position: absolute;
  width: calc(100vw - 2rem);
  border-radius: $border-radius;
}

.Modal__content {
  padding: 2rem;
  overflow: overlay;
  max-height: calc(90vh - 7rem);
  -webkit-box-shadow: 0px 0px 1.5rem 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 1.5rem 0px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 1.5rem 0px rgba(0,0,0,0.45);
}

.Modal__close-x {
  padding: 0 1rem 0.4rem 1rem;
  border-radius: 100%;
  margin: 1rem; 
  background: white;
  border: 1px solid #bbb;
  position: absolute;
  right: -1.5rem;
  top: -2rem;
  -webkit-box-shadow: -0.1rem 0.1rem 0.4rem 0px rgba(0,0,0,0.35);
  -moz-box-shadow: -0.1rem 0.1rem 0.4rem 0px rgba(0,0,0,0.35);
  box-shadow: -0.1rem 0.1rem 0.4rem 0px rgba(0,0,0,0.35);
}

.Modal__bg {
  height: inherit;
  width: inherit;
  background: #00000075;
}

.--top { top: 1.5rem }

.--bottom { bottom: 1.5rem }