@import 'styles/colors';
@import 'styles/spacing';

.NewZone__modal {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 90vh;
  position: absolute;
  top: 0;
  left: 0;
}

.NewZone__modal-container {
  background: white;
  position: absolute;
  margin: 0 1rem 0 1rem;
  width: 95vw;
  bottom: 1.5rem;
  border-radius: $border-radius;
}

.NewZone__modal-content {
  padding: 2rem;
  overflow: overlay;
  max-height: 45vh;
  -webkit-box-shadow: 0px 0px 1.5rem 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 1.5rem 0px rgba(0,0,0,0.45);
  box-shadow: 0px 0px 1.5rem 0px rgba(0,0,0,0.45);

  input[type="text"] , textarea {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  input[type="checkbox"] {
    margin: 0 1.5rem 1.5rem 0.3rem;
  }

}

.NewZone__modal-close-x {
  padding: 0 1rem 0.4rem 1rem;
  border-radius: 100%;
  margin: 1rem; 
  background: white;
  border: 1px solid #bbb;
  position: absolute;
  right: -1.5rem;
  top: -2rem;
  -webkit-box-shadow: -0.1rem 0.1rem 0.4rem 0px rgba(0,0,0,0.35);
  -moz-box-shadow: -0.1rem 0.1rem 0.4rem 0px rgba(0,0,0,0.35);
  box-shadow: -0.1rem 0.1rem 0.4rem 0px rgba(0,0,0,0.35);
}

.NewZone__modal-bg {
  height: inherit;
  width: inherit;
  background: #00000075;
}