@import 'styles/main';

.Notification {
  position: relative;
  .oi[data-glyph='x'] {
    cursor: pointer;
    z-index: 101;
    position: absolute;
    font-size: 12px;
    top: 3px;
    right: 8px;
  }
  .inner {
    padding: 1.5rem;
    position: relative;
    z-index: 1;
    border-radius: $border-radius;
  }
  .Arrow {
    position: absolute;
    z-index: 99;
    &.down {
      bottom: -20px;
    }
    &.up {
      top: -20px;
    }
    &.left {
      left: -20px;
    }
    &.right {
      right: -20px;
    }
    &.left,
    &.right {
      top: calc(50% - 10px);
    }
  }
}
