@import 'styles/main';

.Notification {
  position: relative;
  .oi[data-glyph='x'] {
    position: absolute;
    font-size: 12px;
    top: 3px;
    right: 8px;
  }
  .inner {
    position: relative;
    z-index: 1;
    border-radius: $border-radius;
  }
}
