@import '@styles/colors';

.StatusMark {
  height: 10px;
  width: 10px;
  border-radius: 50%;

  &.active {
    background-color: $status-active;
  }
  &.inactive {
    background-color: $status-inactive;
  }
  &.offline {
    background-color: $status-offline;
  }
}
